


.products {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

.products li {
    max-height: 47rem;
    padding: 1rem;
    margin: 1rem;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.product img {
    max-width: 27rem;
    max-height: 27rem;
}

.productPrice {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.productPrice div, 
.productPrice button {
    text-align: center;
}

.productPrice div {
    font-size: 2rem;
}
.productDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 96vh;
}

.productDetails img {
    max-width: 46rem;
    max-height: 100vh;
    margin: 0 auto;
}

.productDetailsInfo {
  flex: 1 1;
  margin: 1rem;
}

.buttonClose {

}

.button {
    padding: 1rem;
    border: 0.1rem #c0c0c0 solid;
    background-color: #f0f0f0;
    cursor: pointer;
    outline: none;
}

.button:hover {
    border: 0.1rem #808080 solid
}

.button.primary {
background-color:yellow;
}

.pagination span {
    border: 1px solid black;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    cursor:pointer;
    min-width: 50px;
}

.selectedPage {
    background-color: #FDBF00;
}

.pagination {

    margin: 20px auto;
    text-align: center;

}



