 .cartBox {
   min-height: 355px;
   width: 100%;
   margin: 0 auto;
   display: flex;
 }
 
 .cart {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  flex-direction: column;
  width: 65%;
align-items: center;  
}

.aaa {
  width: 30%;
}

.cartTitle {
  font-size: 14px;
}

.cartItems {
  padding: 0;
  width: 100%;
  list-style-type: none;
  text-align: center;
}   

.cartImg {
  margin-right: 80%;;
}

.cartItems img {
  width: 7rem;
}

.cartItems li {
  display: flex;
  justify-content: space-around;
 

}

.cartItems div {
  padding: 0.5rem;
}

.right {
  display: flex;
  justify-content: space-around;
}

.itemsCount {
  margin-right: 10px;
  width: 100px;
}

.modalProduct {
  z-index: 3;
}






.button {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #f0f0f0;
  cursor: pointer;
  outline: none;
  background-color: #FDBF00;
  
  color: black;
}

.button:hover {
  box-shadow: 0px 0px 12px #FDBF00;
  background-color:#464441;
  color: #FDBF00;
}



.total {
  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.total button { 
    margin-top: 15px;
}
/* .total > div, 
.total > button {
    flex: 1;
} */


.formContainer {
  margin: 0 auto;
    width: 70%;
    padding: 0;
    list-style-type: none;
  border-radius: 10px;
    background-color: #464441;
}

.formContainer input {
  border-radius: 10px;
  outline: none;
  font-size: 14px;
}

.formContainer li {
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

form {
    width: 100%;
}

input {
    padding: 1rem;
}

.Modal {
  position: absolute;
 top: 50px;
 left: 50%;
 transform: translate(-50%);
  background-color: papayawhip;
  width: 700px;
  border-radius: 20px;
  padding: 20px;
}

.orderDetails {
  text-align: center;
}


.orderDetails ul {
  list-style-type: none;
}


.buttonClose {
  border-radius: 50%;
  background-color:  #FDBF00;
  border: none;
}

.buttonClose:hover {
  transform: scale(2);
  background-color:#464441;
  box-shadow: 0px 0px 12px #FDBF00;
  color: #FDBF00;
}