@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=wrap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, #root {
  margin: 0;
  background-color: rgb(233, 240, 240);
}

body, input, select, textarea, button {
  font-size: 1.6rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
}

.grid-container {
  display: flex;
  flex-direction: column;
}














a {
  text-decoration: none;
}



